@media screen and (max-width: 768px) {
   .hero-section{
  background-image: url("https://images.unsplash.com/photo-1673526759322-2b43a11d75fe?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  margin-top: 0vh;

   }
}